a {
  color: #428bca;
}
a:hover,
a:focus {
  color: #2B96CC;
}
.caption a:hover { color: #428bca !important;}
.bg-default {
    background-color: #2B96CC;
}
.btn-default {
    background-color: #2B96CC;
	/*box shadow should be dark*/
    box-shadow: 0 3px 0 #1B83B8;
    -moz-box-shadow:0 3px 0 #1b83b8;
    -webkit-box-shadow:0 3px 0 #1b83b8;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #278fc3;
}

.btn-defaultblue {
    background-color: #1f5069;
  /*box shadow should be dark*/
    box-shadow: 0 3px 0 #1B83B8;
    -moz-box-shadow:0 3px 0 #1b83b8;
    -webkit-box-shadow:0 3px 0 #1b83b8;
}
.btn-defaultblue:hover,
.btn-defaultblue:focus,
.btn-defaultblue:active,
.btn-defaultblue.active,
.open .dropdown-toggle.btn-defaultblue {
  background-color: #2377a0;
}
h1.bordered,
h2.bordered,
h3.bordered,
h4.bordered,
h5.bordered,
h6.bordered,
.h1.bordered,
.h2.bordered,
.h3.bordered,
.h4.bordered,
.h5.bordered,
.h6.bordered {
	color: #2b96cc;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
.h1.light,
.h2.light,
.h3.light,
.h4.light,
.h5.light,
.h6.light {
	color:#2B96CC;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white,
.h1.white,
.h2.white,
.h3.white,
.h4.white,
.h5.white,
.h6.white {
  color:#FFF;
}

.top-sec-detail .social2 li a:hover{ border:2px solid #2B96CC;}
.top-sec-detail .social2 li a:hover i{ color:#2B96CC}




.dropdown-menu {
	border-top: 6px solid #2B96CC;
}
.navbar-nav > li:hover ul li a:hover{ 
	color:#2b96cc !important;
}
.navbar-nav li.mega-menu-item .mega-menu{ border-top: 6px solid #2B96CC;}
@media (min-width: 768px) {
.navbar-nav > li:hover a{
	background:#2B96CC; color:#fff !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color:#2b96cc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #2B96CC;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #2B96CC;
}
}
@media (max-width: 767px) {
.navbar-default .navbar-nav > li a:hover{
	color:#2B96CC;
}
}



.home-box a:hover{color:#2B96CC;}
.appointment-sec h1{ 
	color:#2B96CC
}
.ui-widget-header {
	background: #2b96cc;
	/*border colour should be dark*/
	border: 1px solid #1a78a8;
}

.blog-date {background: #2b96cc; }
.blog-thumbnail img{border-bottom:4px solid #2b96cc;}
.blog-item .blog-title a:hover{ color:#2b96cc;}
.carousel-indicators .active {
  background-color: #2b96cc;
}
.panel-title.active span{ background:#2b96cc}
.panel-title.active a{ color:#2b96cc !important}
.testimonials h1{ color:#2B96CC}
.footer-nav li a:hover {color:#2b96cc !important;}
footer h4{ color:#2b96cc;}
.footer-widget h4{ color:#2B96CC}
footer h4 span{ border-bottom:1px solid #2b96cc;}
footer.light .tweet i{color:#2b96cc;}
footer.light .contact-widget p a:hover{ color:#2b96cc;}
footer.dark .contact-widget p a:hover{ color:#2b96cc;}

/*home 2*/
.service-box:hover{ background:#2B96CC;}
.service-box:hover .icon{ background:#2B96CC;box-shadow:0px 0px 0px 1px #2B96CC;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    background:#2B96CC !important;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background:#2B96CC;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background:#2B96CC !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
   background:#2B96CC;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
   background:#2B96CC;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background:#2B96CC;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background:#2B96CC;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background:#2B96CC !important;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus{background:#2B96CC;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{background:#2B96CC;}
.blog2-content h4 a:hover{ color:#2B96CC;}
.slider-mini a:hover{ color:#2B96CC; border-color:#2B96CC;}
.testimonials2-patient-detail span{ color:#2B96CC}
.creative-sec h1{ color:#2B96CC}
.creative-sec-thumb .overlay{background:url(../images/blue-overlay.png) repeat;}
.accordian-style2 .panel-heading i{ color:#2B96CC;}



/*home4*/
caption a.btn-bordered:hover{ color:#2b96cc}
.slider-revolution-overlay{ background:url(../images/slider2-overlay.png) repeat;}
/*revolution slider nav*/
.tp-bullets.simplebullets .bullet{background:#80b5d0;}


/*sub page*/
.sub-page-banner .overlay{background:url(../images/blue-overlay.png) repeat;}
.sub-page-banner2 .overlay{background:url(../images/blue-overlay.png) repeat;}
.team-des-btn.active{ background:#2b96cc}
.team-member-description .team-member-desc-inner{ background:url(../images/team-desc-bg.png) repeat; border:1px solid #1b7fb1; 
/*box shadow should be light*/
box-shadow: inset 1px 1px 1px 0px #88c4e2;-moz-box-shadow: inset 1px 1px 1px 0px #88c4e2;-webkit-box-shadow: inset 1px 1px 1px 0px #88c4e2;}
.team-member-description .team-member-desc-inner span.pointing-arrow{ background:url(../images/team-member-desc-arrow.png) no-repeat;}
i.feature-icon{  background:#2B96CC;}
i.feature-icon{text-shadow:0px 5px 0px #1F7BA9;}
.carousel.default .carousel-indicators .active{ background:#2B96CC;}
.year {color: #2B96CC;}
.carousel-indicators.dark-indicators .active{ background:#2b96cc !important}
.medicom-feature-list li i{border:1px solid #1a7cae; 
/*border should be dark*/
background:#2b96cc;}
.procedures h3{ margin:0; background:#2b96cc; }
.testimonials3-patient-detail span{color:#2b96cc;}


/*quote icons should be light*/
.testimonials3 .fa-quote-left, .testimonials3 .fa-quote-right{ color:#d9e6ef;}
.doctors-detail h4{color:#2B96CC}
.investigations h1{ color:#2B96CC}
.pricing-table2.highlight .table-heading, .pricing-table2.highlight .table-heading .price{ background:#2b96cc;}
.pricing-table .table-heading{ background:#2b96cc;}
.gallery-item:hover p a:hover{ color:#2b96cc}
.tags li a:hover{ color:#2b96cc; border:1px solid #2b96cc;}
.popular-post h4:hover, .popular-post h4 a:hover{ color:#2b96cc}
.archives li a:hover, .archives li a:hover i{ color:#2b96cc}
.get-in-touch-widget li a:hover, .we-are-social li a:hover{ color:#2b96cc;}




.sidebar-nav .panel-body a:hover, .sidebar-nav .panel-body a.active{color:#2B96CC}





/*tri sec*/
.tri-sec:hover{ background:#2B96CC;}
.tri-sec:hover i{ color:#2b96cc;}






.price-rating .price{ 
	color:#2b96cc
}
.product .ad-to-cart:hover{
	color:#2b96cc;
}
.popular-post p strong, .best-seller p strong{
	color:#2b96cc
}
.popular-post h4 a:hover, .best-seller h4 a:hover{
	color:#2b96cc
}

.shop-banner .slider-text h1 span{ color:#2b96cc}
.product-single-content h4{
	color:#2B96CC
}
.cart-total-amount .price{ 
	color:#2B96CC;
}
.after-booking-sec h1{ color:#2B96CC}

.owl-controls .owl-buttons .owl-prev:hover, .owl-controls .owl-buttons .owl-next:hover{ background:#2B96CC;}
.team-thumb .links a i{ background:#2B96CC;}
.team-thumb .links a:hover i{ background:#43abdf;}
.solid-row{ background:#2B96CC;}


.shop-banner .owl-controls .owl-page:hover, .shop-banner .owl-controls .owl-page.active{ background:#2B96CC}
.back-to-top{ background:#2B96CC}
.testimonials-carousel .owl-pagination .owl-page.active, 
.testimonials-carousel .owl-pagination .owl-page:hover,
.meet-doctors-carousel .owl-pagination .owl-page.active, 
.meet-doctors-carousel .owl-pagination .owl-page:hover{ 
	background-color:#2b96cc
}
.gallery-item:hover .gallery-item-info{ border-bottom:6px solid #2b96cc}