.dropdown-menu {
	border-top: 6px solid #2B96CC;
}
.navbar-nav > li:hover ul li a:hover{ 
	color:#2b96cc !important;
}
.navbar-nav li.mega-menu-item .mega-menu{ border-top: 6px solid #2B96CC;}
@media (min-width: 768px) {
.navbar-nav > li:hover a{
	background: linear-gradient(to right, #47B0E7 , #C64C7D);
	color:#fff !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background: linear-gradient(to right, #47B0E7 , #C64C7D);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: linear-gradient(to right, #47B0E7 , #C64C7D);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: linear-gradient(to right, #47B0E7 , #C64C7D);
}
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav > li a:hover{
		background: linear-gradient(to right, #47B0E7 , #C64C7D);
	}
}

.bg-doodle {
    background:url(../images/doodle.png);
    background-size: cover;
}

.layer-doodle {
    background: linear-gradient(to right, #47B0E7 , #C64C7D);
    opacity: 0.7;
}

.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
}